.main-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.nav-wrapper {
  margin-top: 50px;
  width: 100%;
  max-width: 1000px;
  height: 600px;
  background-image: url('../../../../public/Untitled.png');
  background-size: cover; /* OU cover si tu veux remplir */
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #c69554;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
