
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header {
  flex-shrink: 0;
}

nav {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  padding: 2rem;
}

footer {
  flex-shrink: 0;
  color: white;
  text-align: center;
}
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

