<div class="bloc global">
  <div class="bloc-gauche">
    <h3>1 - Choisis ta pizza : </h3>
    @for (pizza of pizzas; track pizza.id) {
      <ul>
        <li>
          <p-checkbox
            [binary]="true"
            [disabled]="!!selectedPizzaName && selectedPizzaName !== pizza.pizzaName && !isValidated"
            [ngModel]="selectedPizzaName === pizza.pizzaName"
            (onChange)="selectPizza(pizza.pizzaName)"
            inputId="pizza_{{ pizza.pizzaName }}"
          />
          <label for="pizza_{{ pizza.pizzaName }}" class="ml-2">
            🍕 {{ pizza.pizzaName }} - {{ pizza.price }}€
          </label>

          @if (selectedPizzas[pizza.pizzaName]) {
            <ul class="ml-4">
              @for (ingredient of pizza.ingredients; track ingredient.id) {
                <li>
                  <p-checkbox
                    [(ngModel)]="selectedIngredients[pizza.pizzaName][ingredient.name]"
                    binary="true"
                    inputId="pizza_{{ pizza.pizzaName }}_ingredient_{{ ingredient.name }}"
                  />
                  <label for="pizza_{{ pizza.pizzaName }}_ingredient_{{ ingredient.name }}" class="ml-2">
                    🧂 {{ ingredient.name }}
                  </label>
                </li>
              }


            </ul>
          }
        </li>
      </ul>
    }



<!--    -->






  </div>
  <form class="bloc-droite" (ngSubmit)="ajouterPizzaAuTicket()" >
    <h3>2 - Personnalise ta pizza : </h3>
    <ul>
      @for (pizza of pizzas; track pizza.id){
        @if (selectedPizzas[pizza.pizzaName]){
          <li>
            🍕 <strong>{{ pizza.pizzaName }}</strong>
          </li>
        }

      }
      <p-accordion>
        <p-accordionTab header="Ajouter un ingrédient">
          <app-add-ingredient
            (ingredientEmet)="onAdditionalIngredientsChange($event)"
            [ingredientsAlreadyAdded]="selectedIngredients[selectedPizzaName!]"
          >
          </app-add-ingredient>
        </p-accordionTab>
      </p-accordion>

    </ul>
    <div class="quantity-container">
      <label for="quantityInput">Quantité de pizza : </label>
      <input
        id="quantityInput"
        type="number"
        [(ngModel)]="quantities"
        name="quantities"
        min="1"
        class="quantity-input"
        value="1"
      />
    </div>

    <p><strong>La somme : </strong> {{ getTotalPrice() }} € </p>

    <p-button type="submit">Valider 🔜</p-button>
  </form>






<!--  -->






  <div class="encore-plus-a-droite">
    <div class="ticket">
      <div class="ticket-block">
        <div class="ticket-header">
          <h3>Pizzeria Name</h3>
          <p>------------------------------</p>
          <small>Votre ticket du ../../....</small>
          <p>------------------------------</p>
        </div>
        <div class="ticket-body">
            @for (item of validatedTickets; let j = $index; track j){
              <p>{{item.quantity}} x {{item.pizzaName}} <button (click)="deletePizza(j)">Supprimer</button></p>
              @for (ingredientSupp of item.ingredientSupplement; let i = $index; track i){
                <p (click)="deleteIngredient(j,i)"><button>-</button> {{ingredientSupp}}</p>
              }
            }
            <p>..............................</p>
        </div>

        <div class="ticket-footer">
          <p>******************************</p>
          @if (validatedTickets.length > 0){
            <p>{{finalPriceTotal}} €</p>
            <button>Passer commande</button>
          }
        </div>
      </div>

    </div>
  </div>

</div>

