:host{

}
body, app-root {
  width: 100%;
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  }



  html{
    background-image: url("../sebali.jpg");

  }
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin: 0;
}

