:host{

}
body, app-root {
  width: 100%;
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  }



  html{
    background-image: url("../public/fond.jpg");
    background-size: cover; /* OU cover si tu veux remplir */
    background-repeat: no-repeat;
    background-position: top;
    background-color: #000000;
  }
html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin: 0;
}

